

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainCaro{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 930px;
}

.productCard{
    padding: 5px;
}

.buttons{
    padding: 20px;
    margin: 5px;
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.buttons:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .mainCaro{
        width: 200
        00px;
    }
}