.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainCaro{
    padding-top: 50px;
    width: 925px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.productCard{
    padding: 8px;
}

.buttons{
    padding: 20px;
    margin: 5px;
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.buttons:hover{
    cursor: pointer;
}