.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainCaro{
    padding-top: 50px;
    width: 925px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.productCard{
    padding: 5px;
}