
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainCaro{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 930px;
}

.productCard{
    padding: 5px;
}

.buttons{
    padding: 20px;
    margin: 5px;
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.buttons:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .productCard{
        width: 100%;
        padding: 0;
    }
    
    .mainCaro{
        width: 98%;
        overflow-x: hidden;
    }

    .buttons{
        height: 100%;
        width: 1%;
    }
}