
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainCaro{
    width: 50%;
    height: 400px;
    max-width: 1000px;
    display: flex;
    gap: .3;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.mainCaro::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.productImage{
    width:98%;
    height: auto;
}

.productCard a{
    color: black;
    text-decoration: none;
}

.productCard a:visited{
    color: black;
}

.productCard{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
}

.productTitle{
    padding-left: 5px;;
}

.text{
    padding-left: 5px;
}

.buttons{
    padding: 20px;
    margin: 5px;
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.buttons:hover{
    cursor: pointer;
}

@media only screen and (max-width: 660px) {
    .mainCaro{
        width: 100%;
        height: auto;
        overflow-x: scroll;
        
    }

    .mainCaro::-webkit-scrollbar{
        display: none;
    }
    

    .productCard{
        width: 50%;
    }
  
    .buttons{
        position: absolute;
        height: 5%;
        width: 10%;
        padding: 0;
        background-color: rgba(128, 128, 128, 0.479);
        border-radius: 25%;
    }   
    
    .button1{
        left: 1%;
        z-index: 2;
    }
    .button2{
        left: 87%;
    }

}