.container {
  width: 40%;
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: ;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
  }

  .main{
    text-align: center;
  }

}

