.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallerAd{
    width: 80%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
  }

  .heroAd{
    width: 10%;
  }

  .heroImg{
    width: 80%;
    height: auto;
  }

  }