.productPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productPageContainer h1{
    padding: 25px;
   
}

.productContainer{
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.zoomContainer{
    width:60%;
    overflow: scroll;
}

.bigImage{
    width: 100%;
}

.bigImage:hover{
    transform: scale(1.5);
}

.smallImageContainer{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imageTwo, .imageThree{
    width: 60%;
    height: auto;
}

.imageTwo:hover, .imageThree:hover{
    cursor: pointer;
}


.borderDiv{
    width:80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.cartButton{
    width: 10%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.cartButton:hover{
    cursor: pointer;

}

.productPageContainer form{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 990px) {
    .cartButton{
        width:30%;
    }
}
