.productImage{
    width: 300px;
    height: auto;
}

.text{
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .productCard{
        padding:10px;
    }

    .productImage{
        width: 90%;
        height: auto;
    }
}