.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container th {
    border-bottom: 1px solid rgb(189, 189, 189);
  }

.container td{
    border-bottom: 1px solid rgb(189, 189, 189);
}

.cartContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cartContainer table{
    width: 75%;
    border-collapse: collapse;
}

.cartContainer th {
    padding-bottom: 5px;
}

.cartItemContainer{
    width: 100%;
}

.price{
    text-align: center;

}

.totalPrice{
    text-align: center;
}

.quantity {
    display: flex;
    padding: 20%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itemImg{
   max-width: 300px;
}




@media only screen and (max-width: 990px) {
    .cartContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 990px) {
 
    
    .itemImg{
        max-width: 150px;
    }
    
}