.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container th {
    border-bottom: 1px solid rgb(189, 189, 189);
  }

.container td{
    border-bottom: 1px solid rgb(189, 189, 189);
}

.cartContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cartContainer table{
    width: 75%;
    border-collapse: collapse;
}

.cartContainer th {
    padding-bottom: 5px;
}

.cartItemContainer{
    width: 100%;
}

.price{
    text-align: center;

}

.totalPrice{
    text-align: center;
}

.quantity {
    text-align: center;
}

.quantity select{
    display: block;
    margin: 10px auto;
}

.quantity button{
    display: block;
    
    margin: 20px auto;
}

.itemImg{
   max-width: 300px;
}




@media(max-width: 990px) {
    .cartContainer{
        width: 100%;
        text-align: center;
    }

    .itemImg{
        max-width: 150px;
    }

    .cartContainer th{
        display: none;
    }

    .price , .totalPrice{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cartContainer td{
        border: none;
    }

    .itemHeader{
        display: flex;
        flex-direction: row;
        grid-column: 1 / span 3;
    }

    .itemHeader h4{
        padding-left: 10px;
    }

    .btnRemove{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .quantity{ 
        padding: 0;
    }

    .quantity select{
        margin-top: 10px;
        width: 75%;
    }

    .cartItemContainer tr{
        display: grid;
        grid-template-rows: repeat (3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid rgb(189, 189, 189);
    }

}

