.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemContainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.itemImg{
    width: 100%;
    max-width: 275px;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}