.container{
    margin-top: 25px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: white;
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.shopFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopFooter ul{
    margin-top: 0;
    list-style-type: none;
    justify-self: start;
    padding: 0;
}

.shopFooter li{
    margin-top:5px;
}

.shopFooter a {
    color: white;
    margin-top: 2px;
    text-decoration: none;
}

.shopFooter a:visited {
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact > * {
    margin: 0;
}