.searchContainer{
    text-align: center;
}

.productCards{
        margin: 0 auto;
        width: 50%;
        display: grid;
        gap: 20px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
      
}

@media only screen and (max-width: 990px) {
    .productCards {
      width: 100%;
      gap: 0px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .main {
      text-align: center;
    }
  }
  